body{
  background-color: #282c34;
  color: white;
}

a{
  color: lightgreen;
}

a:visited{
  color: lightgreen;
}

ul{
  text-align: left;
  list-style-type: none;
}

li {
  cursor: pointer;
}

li:hover{
  background-color: grey;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.twoColumns {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  text-align: left;
}

#comment {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-navigate{
  padding: 15px;
  border-radius: 10px;
  background-color: green;
  margin-bottom: 15px;
}

.btn-navigate:hover{
  background-color: blue;
  color: white;
}

.btn-detail{
  padding: 15px;
  border-radius: 10px;
  background-color: green;
}

.btn-detail:hover{
  background-color: blue;
  color: white;
}

.pSlider{
  max-width: 100%;
  margin-bottom: 20px;
}

.cityName{
  color: black;
}

/*vanaf hier de grid voor de List*/

.grid {
  text-align: center;
  display: grid;
  grid-template-columns: 33% 33% 34%;
  font-size: x-large;
}

.grid-row {
  margin-top: 50px;
}

.pointer:hover{
  cursor: pointer;
}

#details {
  display: grid;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
  margin-top: 10px;
}

#details > div {
  margin-top: 15px;
}

.leaflet-container {
    height: 300px;
    width: 600px;
    cursor: pointer;
}

.commentBox {
  margin-top: 25px;

}

.commentBox > legend{
  color: lightgreen;
}

.commentList{
  background-color: grey;
  color: black;
}

.detailTitle{
  color: lightgreen;
  font-size: larger;
}

/*mobile css*/

@media only screen and (max-width: 1000px) {
    body{
        font-size: 10px;
    }
    
    img{
      width: 200px;
      height: auto;
    }
    .grid-row > div > img{
      width: 90px;
      height: auto;
    }
    .btn-navigate{
      padding: 5px;
      border-radius: 3px;
      background-color: green;
      margin-bottom: 15px;
    }
    
    .btn-navigate:hover{
      background-color: blue;
      color: white;
    }
    
    .btn-detail{
      padding: 5px;
      border-radius: 3px;
      background-color: green;
    }
    
    .btn-detail:hover{
      background-color: blue;
      color: white;
    }
    
    .leaflet-container {
      height: 200px;
      width: 300px;
  }
  
  .twoColumns {
    margin-top: 20px;
    display: grid;
    column-gap: 10px;
  }
}